<h2>
  <%= h(@memo[:title]) %>
</h2>
<p class="content"><%= h(@memo[:content]) %></p>
<div class="f-container">
  <button type="button" class="back btn" onclick="location.href='/memos'">戻る</button>
  <button type="button" class="edit btn" onclick="location.href='/memos/<%= h(params[:id]) %>/edit'">編集</button>
  <form action="/memos/<%= h(params[:id]) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="delete btn">削除</button>
  </form>
</div>
