<h3><% @memos %></h3>
<div class= "f-container between">
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="./memos/<%= memo[:id] %>"> <%= memo[:title] %> </a></li>
    <% end %>
  </ul>
  <button type="button" class="add btn" onclick="location.href='new-memos'">追加</button>
</div>
